<h4>Property binding and String interpolation</h4>

<p>1.String interpolation:-</p>
<span>Example: My name is {{name}}</span><br><br>

<span>2.Property binding:-</span><br>
<span>property binding mainly used with boolean values and attributes.because interpolation not work with boolean values properly. <br><br>Syntax:[]</span><br><br>

<span>Example:</span><input type="text" [disabled]="disable" [hidden]="false" >



