<h4> five examples of directives:- two using ngIf, two using ngFor, and one using both ngIf and ngFor</h4>

<h5>1.Two example with ngif</h5>
<!-- // ngif first example start here -->
<span>First example:</span>
<h1 *ngIf="show">
    if condition is execute
</h1>
<button (click)="hideifblock()">Hideifblock</button>
<button (click)="showifblock()">showifblock</button><br><br>
<!-- // ngif first example end here -->

<!-- // ngif second example start here -->

<h4>second example:</h4>

<h1 *ngIf="show2==='yes'; then ifblock else elseblock"></h1>

<ng-template #ifblock>
   <p>if block</p> 
</ng-template>
<ng-template  #elseblock>
  <p>else block</p>
</ng-template>
<!-- // ngif second example end here -->


<!-- // ngfor first example start here -->

<span>1.first example with ngFor</span>
<h2 *ngFor="let user of users">
  Name is : {{user}}
</h2>
<!-- // ngfor first example end here -->

<!-- // ngfor second example start here -->

<span>2.second example with ngFor</span>
<h3 *ngFor="let users of userDetails">
  <span> Name is {{users.name}}
         .EmailId is {{users.email}}
  </span> 
</h3>

<!-- // ngfor second example end here -->

<!-- // ngif and ngfor  example start here -->
<span>1.Example with ngif and ngFor</span>
<h3 *ngFor="let user of users">
   <span *ngIf="user==='jony'">
    Winner is: {{user}}
   </span>
</h3>

<!-- // ngif and ngfor  example end here -->



