<h4>Two examples of style binding:-</h4>
<span>1.Using ngstyle</span>

<h2 [ngStyle]="Style">Example of ng Style</h2>
<button (click)="changecolor()">change color</button>
<button (click)="previouscolor()">previous color</button><br><br>


<p>2.Using ngclass</p><br>

<div [ngClass]="'myclass'">Example of ng classes</div>

